/.idea
/*.iml
/*.bundle
/out
/target
/learnlog.txt
/learnlog.log
\#*\#
*~
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
/pom.xml
/sbt-launch.jar
learnlog.log.*
*.diff
target_
