!!! 5
-@ val body: String
html
  head
    link(rel="stylesheet" href="css/bootstrap.min.css")
    script(src="//yandex.st/jquery/1.8.2/jquery.min.js" language="javascript")
    script(src="js/bootstrap.min.js" language="javascript")
    :css
      body {
        padding-top: 60px;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand dadacore
          .nav-collapse.collapse
            ul.nav
              li
                a(href="#") Generate
              li
                a(role="button" href="#learnModal" data-toggle="modal") Learn

    .container-fluid
      .row-fluid

        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.active
                a(href="#") Generate

        .span9
          !~~ body

    .modal.hide.span6#learnModal(tabIndex="-1" role="dialog" aria-labelledby="learnModalLabel" aria-hidden="true")
      .modal-header
        h3#learnModalLabel Learn
      .modal-body.container-fluid
        textarea.span6(rows="8")
      .modal-footer
        button.btn.btn-primary Save