!!! 5
-@ val body: String
html
  head
    link(rel="stylesheet" href="css/bootstrap.min.css")
    :css
      body {
        padding-top: 60px;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand dadacore
          .nav-collapse.collapse
            ul.nav
              li
                a(href="#") Home


    .container-fluid
      .row-fluid

        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.active
                a(href="#") Generate

        .span9
          !~~ body

